if you have questions on this assignment, please send me (Achille Mascia) an email achille.mascia@columbia.edu or come see me during my office hours.

<h1>Numpy and Pandas Home Assignment</h1>
In this assignment, we will use pandas and numpy to do some fairly basic analysis on equities.

<h3>Imports</h3>

In [1]:
import datetime
import numpy as np
import pandas as pd
%matplotlib inline
import pandas_datareader.data as web
import fix_yahoo_finance as yf

<h3>Get data on the following four stocks from yahoo finance</h3>
<li>MS, GS, JPM, C
<li>Use the date range 2013/1/1/ to 2018/9/24

In [2]:
start = datetime.datetime(2013,1,1)
end = datetime.datetime(2018,9,24)
df = web.DataReader(['MS', 'GS','JPM','C'],'yahoo', start,end)['Close']

In [3]:
df.head()

Symbols             C          GS        JPM         MS
Date
2013-01-02  41.250000  131.660004  44.660000  19.620001
2013-01-03  41.389999  130.940002  44.570000  19.580000
2013-01-04  42.430000  134.509995  45.360001  20.190001
2013-01-07  42.470001  134.259995  45.410000  19.799999
2013-01-08  42.459999  133.050003  45.500000  19.650000

<h3>Compute the cross correlation coefficients on the stocks</h3>
<li>Create a df 'rets' with the one day percentage changes
<li>Calculate cross correlations on the rets df

In [4]:
rets = df.pct_change()

In [5]:
rets_corr = rets.corr()
rets_corr

Symbols         C        GS       JPM        MS
Symbols
C        1.000000  0.792072  0.849616  0.809965
GS       0.792072  1.000000  0.813291  0.844330
JPM      0.849616  0.813291  1.000000  0.801243
MS       0.809965  0.844330  0.801243  1.000000

<h3>Select a pair of stocks to trade</h3>
<li>Choose the pair with the highest correlation
<li>You can just eyeball the result and pick the highest correlation pairs
<li>Create a new df 'pairs' with the returns columns of the highest correlation pairs

In [6]:
pairs = rets[['JPM', 'C']]

<h3>Calculate the mean and std dev of the columns (returns of the two stocks)</h3>
<li>Note that line 1 contains a NaN. You'll have to get rid of this line
<li>df.describe() returns summary stats for all cols in a dataframe. You can use this to extract means and standard deviations

In [7]:
new_df = pairs.iloc[1:-1]
c_std = new_df.describe()['C']['std']
j_std = new_df.describe()['JPM']['std']
c_mean = new_df.describe()['C']['mean']
j_mean = new_df.describe()['JPM']['mean']

<h3>Create a new column "Long_JPM_Short_C"</h3>
<li>If the return of C is greater than its mean + 0.25* std
<li> AND
<li>If the return of JPM is less than its mean - 0.25*std
<li>The value in this col should be True or False

In [8]:
pairs['Long_JPM_Short_C'] = np.where((pairs['C'] > c_mean+0.25*c_std) & (pairs['JPM'] < j_mean-0.25*j_std),True,False)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
pairs.iloc[:25]

Symbols          JPM         C  Long_JPM_Short_C
Date
2013-01-02       NaN       NaN             False
2013-01-03 -0.002015  0.003394             False
2013-01-04  0.017725  0.025127             False
2013-01-07  0.001102  0.000943             False
2013-01-08  0.001982 -0.000236             False
2013-01-09 -0.000659 -0.009892             False
2013-01-10  0.014955  0.018792             False
2013-01-11 -0.000217 -0.011441             False
2013-01-14 -0.005635 -0.002834             False
2013-01-15  0.010244  0.008290             False
2013-01-16  0.010140 -0.002114             False
2013-01-17 -0.008116 -0.029190             False
2013-01-18  0.000431  0.010184             False
2013-01-22  0.001722  0.002880             False
2013-01-23 -0.006661  0.005744              True
2013-01-24  0.003028  0.018563             False
2013-01-25  0.017037  0.002570             False
2013-01-28 -0.011026 -0.013284             False
2013-01-29  0.010292 -0.004251             False
2013-01-30  0.000212 -0.004981             False
2013-01-31 -0.001697  0.005006             False
2013-02-01  0.017003  0.020398             False
2013-02-04 -0.003553 -0.018828             False
2013-02-05  0.023280  0.016821             False
2013-02-06 -0.003689  0.003029             False

<h3>Create a new column "Long_C_Short_JPM"</h3>
<li>If the return of JPM is greater than its mean + 0.25* std
<li> AND
<li>If the return of C is less than its mean - 0.25*std
<li>The value in this col should be True or False

In [10]:
pairs['Long_C_Short_JPM'] = np.where((pairs['JPM'] > j_mean+0.25*j_std) & (pairs['C'] < c_mean-0.25*c_std),True,False)

In [16]:
pairs.iloc[:25]

Symbols,JPM,C,Long_JPM_Short_C,Long_C_Short_JPM,Trade_return
Date,,,,,
2013-01-02,NaN,NaN,False,False,0.000000
2013-01-03,-0.002015,0.003394,False,False,0.000000
2013-01-04,0.017725,0.025127,False,False,0.000000
2013-01-07,0.001102,0.000943,False,False,0.000000
2013-01-08,0.001982,-0.000236,False,False,0.000000
2013-01-09,-0.000659,-0.009892,False,False,0.000000
2013-01-10,0.014955,0.018792,False,False,0.000000
2013-01-11,-0.000217,-0.011441,False,False,0.000000
2013-01-14,-0.005635,-0.002834,False,False,0.000000
2013-01-15,0.010244,0.008290,False,False,0.000000
2013-01-16,0.010140,-0.002114,False,False,0.000000
2013-01-17,-0.008116,-0.029190,False,False,0.000000
2013-01-18,0.000431,0.010184,False,False,0.000000
2013-01-22,0.001722,0.002880,False,False,0.000000
2013-01-23,-0.006661,0.005744,True,False,-0.012405
2013-01-24,0.003028,0.018563,False,False,0.000000
2013-01-25,0.017037,0.002570,False,False,0.000000
2013-01-28,-0.011026,-0.013284,False,False,0.000000
2013-01-29,0.010292,-0.004251,False,True,-0.014543
2013-01-30,0.000212,-0.004981,False,False,0.000000
2013-01-31,-0.001697,0.005006,False,False,0.000000
2013-02-01,0.017003,0.020398,False,False,0.000000
2013-02-04,-0.003553,-0.018828,False,False,0.000000
2013-02-05,0.023280,0.016821,False,False,0.000000
2013-02-06,-0.003689,0.003029,False,False,0.000000

<h3>Create a new column "Trade_return"</h3>
<li>If Long_JPM_Short_C is True and Long_C_Short_JPM is False, the value of this column should be the return on JPM minus the return on C
<li>If Long_JPM_Short_C is False and Long_C_Short_JPM is True, the value of this column should be the return on C minus the return on JPM
<li>Otherwise the value should be zero

In [17]:
pairs['Trade_return'] =np.where((pairs['Long_JPM_Short_C']==True)&(pairs['Long_C_Short_JPM']==False),pairs['JPM']-pairs['C'],
                                np.where((pairs['Long_JPM_Short_C']==False)&(pairs['Long_C_Short_JPM']==True),pairs['C']-pairs['JPM'],0))

In [18]:
pairs.iloc[:25]

Symbols,JPM,C,Long_JPM_Short_C,Long_C_Short_JPM,Trade_return
Date,,,,,
2013-01-02,NaN,NaN,False,False,0.000000
2013-01-03,-0.002015,0.003394,False,False,0.000000
2013-01-04,0.017725,0.025127,False,False,0.000000
2013-01-07,0.001102,0.000943,False,False,0.000000
2013-01-08,0.001982,-0.000236,False,False,0.000000
2013-01-09,-0.000659,-0.009892,False,False,0.000000
2013-01-10,0.014955,0.018792,False,False,0.000000
2013-01-11,-0.000217,-0.011441,False,False,0.000000
2013-01-14,-0.005635,-0.002834,False,False,0.000000
2013-01-15,0.010244,0.008290,False,False,0.000000
2013-01-16,0.010140,-0.002114,False,False,0.000000
2013-01-17,-0.008116,-0.029190,False,False,0.000000
2013-01-18,0.000431,0.010184,False,False,0.000000
2013-01-22,0.001722,0.002880,False,False,0.000000
2013-01-23,-0.006661,0.005744,True,False,-0.012405
2013-01-24,0.003028,0.018563,False,False,0.000000
2013-01-25,0.017037,0.002570,False,False,0.000000
2013-01-28,-0.011026,-0.013284,False,False,0.000000
2013-01-29,0.010292,-0.004251,False,True,-0.014543
2013-01-30,0.000212,-0.004981,False,False,0.000000
2013-01-31,-0.001697,0.005006,False,False,0.000000
2013-02-01,0.017003,0.020398,False,False,0.000000
2013-02-04,-0.003553,-0.018828,False,False,0.000000
2013-02-05,0.023280,0.016821,False,False,0.000000
2013-02-06,-0.003689,0.003029,False,False,0.000000

<h3>Calculate the sum of this new column</h3>
<li>Are you going to get rich?

In [19]:
np.sum(pairs['Trade_return'])

-0.6793516982785628

The sum is non-positive so we are not going to get rich with this strategy.